<div class="app-container">
    <div class="header-wrap flx-row flx-jsb">
        <div class="flx-row">
            <button (click)="isExpand = !isExpand" [ngClass]="{'active': isExpand}">
				<span></span>
				<span></span>
				<span></span>
			</button>
            <div class="app-title f20 pointer" (click)="goHome()">AMZ</div>
        </div>
    </div>
    <div class="view-wrap" [ngClass]="{'nav-expand': isExpand}">
        <div class="left-navigation flx-column" [ngClass]="{'nav-expand': isExpand}">
            <div class="nav-list flx-row pointer" [ngClass]="{'active': routeName === 'new-vendor'}" (click)="navigateTo('/new-vendor')">
                <div class="icon-nav icon-doc"></div>
                <div class="nav-title">AMZ</div>
            </div>
        </div>
        <div class="right-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>