<div class="popup-modal-wrap">
  <div class="sub-title-wrap flx-row flx-jsb">
    <div class="sub-title">Info Config</div>
  </div>
  <div class="form-group">
    <label for="setImage">Image Url</label>
    <input type="text" [(ngModel)]="imgUrl" class="form-control" id="setImage" aria-describedby="imgHelp" placeholder="Image Url">
    <small id="imgHelp" class="form-text text-muted">Provide the image url which needs to be linked.</small>
  </div>
  <div class="form-group">
    <label for="setDesc">Description</label>
    <textarea [(ngModel)]="description" class="form-control" id="setDesc"></textarea>
  </div>
  <div class="flx-row no-gutters">
    <button class="btn btn-secondary btn-sm col-md-6" (click)="onExit()">Close</button>
    <button class="btn btn-primary btn-sm col-md-6" (click)="onSubmit()">Submit</button>
  </div>
</div>