.icon-nav {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.icon-doc {
  background: url('assets/icons/doc.svg') no-repeat center center / 30px;
}

.icon-list {
  background: url('assets/icons/list.svg') no-repeat center center / 30px;
}