<div class="container-wrap">
  <div class="sub-title-wrap sec-sub-title-wrap flx-row flx-jsb">
    <div class="sub-title">Set content info</div>
  </div>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" (change)="onSearch()">
    <div class="input-group-append pointer" (click)="onSetInfo()">
      <span class="input-group-text">+</span>
    </div>
  </div>
  <div class="flx-row no-gutters rule-content">
    <div class="content-holder col-md-6" [innerHTML]="rule.content"></div>
    <div class="col-md-6"></div>
  </div>
</div>