/* You can add global styles to this file, and also import other style files */

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
@import '../node_modules/reset-css/sass/_reset.scss';
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import "../node_modules/ngx-toastr/toastr.css";
@import './partials/_variables.scss';
@import './partials/_globals.scss';
@import './partials/_icons.scss';
@import './partials/_layout.scss';
p {
  padding: 0 0 10px 0;
  line-height: 1.2;
}

ul,
ol {
  li {
    padding: 0 0 5px 15px;
    line-height: 1.2;
    position: relative;
    &:before {
      content: "*";
      position: absolute;
      left: 2px;
      top: 2px;
    }
  }
}

.app-modal-window .modal-lg {
  max-width: 90vw;
}